services:
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - SEQ_PASSWORD=${SEQ_PASSWORD}
    volumes:
      - seq_data:/data
    ports:
      - "5341:5341"
      - "8081:80"
volumes:
  seq_data: