name: simple dotnet build

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '10.0.x'
      - name: restore
        run: dotnet restore todoApp/API/API.csproj --locked-mode
      - name: build
        run: dotnet build todoApp/API/API.csproj
          
          

